<h1><%= t('users.sign-up') %></h1>
<%= notice %>

<%= form_for( @user , url: singup_path, method: 'post') do |f| %>
  <%= t('users.name') %>：<%= f.text_field :name %><br>
  <%= t('users.email') %>：<%= f.text_field :email %><br>
  <%= t('users.password') %>：<%= f.password_field :password %><br>
  <%= f.submit t('users.sign-up') %>
<% end %>

<%= link_to t('users.sign-in-link'), user_path %>
<%= link_to t('navbar.home-page'), welcome_path %>