<%= form_for task do |f| %>
  <div>
    <%= t('tasks.title') %>：<%= f.text_field :title %>
  </div>
  <div>
    <%= t('tasks.content') %>：<%= f.text_field :content %>
  </div>
  <div>
    <%= t('tasks.priority') %>：
    <select name="task[priority]">
      <%= options_for_select(
        [
          [t('tasks.first'), 'first'],
          [t('tasks.second'), 'second'],
          [t('tasks.third'), 'third']
        ], 'first'
      ) %>
    </select>
  </div>
  <div>
    <%= t('tasks.status') %>：
    <select name="task[status]">
      <%= options_for_select(
        [
          ['Pending', 'pending'],
          ['Processing', 'processing'],
          ['Solved', 'solved']
        ], 'pending'
      ) %>
    </select>
  </div>
  <div>
    <%= t('tasks.start-at') %>：<%= f.date_field :start_at %>
  </div>
  <div>
    <%= t('tasks.end-at') %>：<%= f.date_field :end_at %>
  </div>
  <%= f.hidden_field :user_id, value: current_user.id %>
  <%= f.submit t('tasks.create') %>
<% end %> 