<%= form_for task do |f| %>
  <div>
    標題<%= f.text_field :title %>
  </div>
  <div>
    內容<%= f.text_field :content %>
  </div>
  <div>
    優先順序
    <select name="task[priority]">
      <%= options_for_select(
        [
          ['高', 'first'],
          ['中', 'second'],
          ['低', 'third']
        ], 'first'
      ) %>
    </select>
  </div>
  <div>
    狀態
    <select name="task[status]">
      <%= options_for_select(
        [
          ['待處理', 'pending'],
          ['進行中', 'processing'],
          ['已完成', 'solved']
        ], 'pending'
      ) %>
    </select>
  </div>
  <div>
    任務開始時間<%= f.date_field :start_at %>
  </div>
  <div>
    任務結束時間<%= f.date_field :end_at %>
  </div>
  <%= f.hidden_field :user_id, value: current_user.id %>
  <%= f.submit %>
<% end %> 